[Desktop Entry]
Name=Terminal
Icon=utilities-terminal
Exec=gnome-terminal
Type=Application
StartupNotify=true
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.0.1
Keywords=GNOME;GTK;Utility;TerminalEmulator;
X-Ubuntu-Gettext-Domain=gnome-terminal

X-Ayatana-Desktop-Shortcuts=Root;Deimos;W7;ST780WL
[Root Shortcut Group]
Name=Root Terminal
Exec=gksu gnome-terminal
TargetEnvironment=Unity

[Deimos Shortcut Group]
Name=alex@deimos
Exec=gnome-terminal --disable-factory --sm-client-disable --class=remoteserver -x ssh -t deimos
TargetEnvironment=Unity

[W7 Shortcut Group]
Name=Windows Reboot
Exec=winreboot
TargetEnvironment=Unity
