[Desktop Entry]
Name=Home Folder
Comment=Open your personal folder
Exec=nautilus %U
Icon=folder
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=GNOME;Unity;
Categories=GNOME;GTK;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.0.0
X-Ubuntu-Gettext-Domain=nautilus
Actions=Root;U1

[Desktop Action Root]
Name=Filesystem Root
Exec=nautilus /
OnlyShowIn=Unity

[Desktop Action U1]
Name=Ubuntu One
Exec=nautilus "Ubuntu One"
OnlyShowIn=Unity

