[Desktop Entry]
Version=1.0
Terminal=false
Icon=accessories-text-editor
Type=Application
Categories=Office;GNOME;GTK;Utility;TextEditor;
Exec=gvim %U
MimeType=text/plain;
Name=GVim
GenericName=Text Editor
Comment=Create documents
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=Gedit;Writer;Calc;Draw;Impress


[Gedit Shortcut Group]
Name=Gedit
Exec=gedit --new-document
TargetEnvironment=Unity

[Writer Shortcut Group]
Name=New document
Exec=libreoffice --writer %U
TargetEnvironment=Unity

[Calc Shortcut Group]
Name=New spreadsheet
Exec=libreoffice --calc %U
TargetEnvironment=Unity

[Draw Shortcut Group]
Name=New drawing
Exec=libreoffice --draw %U
TargetEnvironment=Unity

[Impress Shortcut Group]
Name=New presentation
Exec=libreoffice --impress %U
TargetEnvironment=Unity
