[Desktop Entry]
Version=1.0
Name=Web
Comment=Browse the World Wide Web
GenericName=Web Browsers
Exec=firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=NewPrivate;Chromium;Incognito

[NewPrivate Shortcut Group]
Name=Private Mode Window
Exec=firefox -private-window

[Chromium Shortcut Group]
Name=Chromium Browser
Exec=chromium-browser
TargetEnvironment=Unity

[Incognito Shortcut Group]
Name=Chromium Incognito
Exec=chromium-browser --incognito
TargetEnvironment=Unity
