[Desktop Entry]
Name=Terminal
Comment=Use the command line
TryExec=gnome-terminal
Exec=gnome-terminal
Icon=utilities-terminal
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.6.2
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true
OnlyShowIn=GNOME;Unity
Keywords=Run;
Actions=Root;Deimos;W7;ST780WL
X-Ubuntu-Gettext-Domain=gnome-terminal

[Desktop Action Root]
Name=Root Terminal
Exec=gksu gnome-terminal
TargetEnvironment=Unity

[Desktop Action Deimos]
Name=alex@deimos
Exec=ssh -X deimos gnome-terminal
TargetEnvironment=Unity

[Desktop Action W7]
Name=Windows Reboot
Exec=winreboot
TargetEnvironment=Unity
