[Desktop Entry]
Name=Nautilus
Comment=Access and organize files
Exec=nautilus %U
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.2.0
X-Ubuntu-Gettext-Domain=nautilus

X-Ayatana-Desktop-Shortcuts=Root;Code;Dropbox;Multimedia

[Root Shortcut Group]
Name=/
Exec=nautilus /
TargetEnvironment=Unity

[Code Shortcut Group]
Name=Code
Exec=nautilus code
TargetEnvironment=Unity

[Dropbox Shortcut Group]
Name=Dropbox
Exec=nautilus Dropbox
TargetEnvironment=Unity

[Multimedia Shortcut Group]
Name=Multimedia Drive
Exec=nautilus /srv/multimedia
TargetEnvironment=Unity


